<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiva="X-UA-Compatible" content="Ie=edge">
    <meta name="Vieport" content="widht=device-widht,
        initial-scaled=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>O Caos da Lua</title>
    <meta name="description" content="Bem- vindos ao caos da lua
        Aqui é meu dump de idéias sobre programação, estudos e a vida!">
    


<body>

    
   <h1>Welcome to the Chaos of Moon </h1>
   <h2>meu_primeiro_blog</h2>
    <h3>Bem- vindos ao caos da lua! Primeiramente devo me apresentar: </h3>

    <p>
       
         &nbsp;&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nam a animi libero, dolor sed distinctio ullam labore molestiae velit
           quae esse odio! Iste harum unde suscipit possimus, quisquam autem repellat.
    
    <h3>Let’s start! Dump trash:</h3>
    <p>
        &nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Ex voluptatum libero porro quam, mollitia quia illum beatae cumque perspiciatis 
         ipsum maiores debitis eveniet, eligendi ipsam ad. Illum quod deleniti quo?aa
      </p>
         
   
</body>

</html>